<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COCO's Concoctions</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <body>
    <nav>
      <div class="container">
        <ul>
          <span><li style="float:right" class="na-link hamburger"><i data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="fas fa-bars"></i></li>
          </span>

          <li class="home-li-logo na-link"><a href="/">COCO's Concoctions</a></li>
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Recipes
                </a> 
                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item disabled">2021-2022</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/articles/in-season-articles-2021-2022">In-Season Articles</a></li>
                  <li><a class="dropdown-item" href="/articles/pre-season-primers-2021-2022">Pre-Season Primers</a></li>
                 

                </ul>
              </li> -->

              <li class="nav-item">
                <a class="white-link" href="/all">All recipes</a>
              </li>

              <!-- <li class="nav-item">
                <a class="white-link" href="/schedule-tool">Popular</a>
              </li>

              <li class="nav-item">
                <a class="white-link" href="/schedule-tool">Trending</a>
              </li> -->

              <li class="nav-item">
                <a class="white-link" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="white-link" href="/contact">Contact</a>
              </li>
              
            </ul>
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-danger" type="submit">Search</button>
            </form> -->
          </div>
        </ul>
    </div>
</div>
    </nav>
    <br>
    <br>