<%- include('partials/header') %>


<div class="container about">
    <h1>About Us</h1>
    <br>
    <img class="recipe-img-top" src="/images/stefan-vladimirov-Q_Moi2xjieU-unsplash.jpg" alt="Card image cap">
    <br>
    <br>
    <hr>
    <br>
    <br>
    <p>
        Welcome to COCO's Concoctions! After years of cooking, we've always been a little bit peeved by the state of recipe sites. All of the advertisements and long stories before finally getting to the good stuff left us feeling that people deserve better. 
        <br><br> 
        Also, we know that families are finding it harder to find accessible recipes. All too often, recipes will require an expensive set of ingredients or require too much of your time to prepare. We aim to provide recipes that can be made quickly and cheaply, while streamlining the browsing process.
        <br>
        <br>
        That is our goal and we aim to deliver on that promise.
        <br>
        <br>
        To our communuity ~ Thanks for your continued reading and we hope you love what you make with us!
        <br>
        <br>
        - The COCO's Team
    <br>
    </p>

</div>


<%- include('partials/footer') %>