<%- include('partials/header') %>

<!-- <div class="all-container">
    <div class="row">
        <br>
        <div class="card all-recipe-card" style="width: 18rem;"><a href="/pizza-dough" class="recipe-card-link">
          <img class="card-img-top" src="/images/dough-g650803e76_1920.jpg" alt="Card image cap">
          <div class="all-card-body">
            <h3 class="card-text">Fermented Pizza Dough</h3>
            <p>Great for making ahead of time and keeping in the fridge for up to a week</p>
          </div>
        </div>
      </a>
    </div>

</div> -->


<div class="container">

    <br>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/crisp">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/maximilian-zahn--Ly0HgJXMEE-unsplash.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/crisp"><h5>Apple Crisp</h5></a>
        </div>
        
          <p>An ooey, gooey, fruity dessert that goes great with ice cream.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/caramel-corn">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/popcorn-g00cbf532c_1920.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/caramel-corn"><h5>Caramel Corn</h5></a>
        </div>
        
          <p>Get that sweet, caramel-ly, salty, crunch we know you're craving.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>
    
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/belgian-waffles">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/sheelah-brennan-umV1nb2RQiE-unsplash.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/belgian-waffles"><h5>Diner-Style Belgian Waffles</h5></a>
        </div>
        
          <p>Homemade waffles have never tasted so good. Other recipes claim to make the best waffles ever, but these are the real deal.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>


    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/peanut-butter-fudge">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/walnut-fudge-g72072b9db_1920.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/peanut-butter-fudge"><h5>Easy Peanut Butter Fudge</h5></a>
        </div>
        
          <p>Delectable peanut buttery goodness that you can make in a microwave.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>


    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/pizza-dough">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/dough-g650803e76_1920.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/pizza-dough"><h5>Fermented Dizza Dough</h5></a>
        </div>
        
          <p>Great for making ahead of time and keeping in the fridge for up to a week.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/korean-bbq">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/pexels-becerra-govea-photo-5774159.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/korean-bbq"><h5>Korean-Style BBQ</h5></a>
        </div>
        
          <p>A sweet, savoury, and very delicious beef dish that goes great with rice.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/panna-cotta">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/panna-cotta-gcc5f57456_1920.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/panna-cotta"><h5>Traditional Panna Cotta</h5></a>
        </div>
        
        <p>An impossibly creamy, sweet dessert.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/pavlova">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/toa-heftiba-Hf6jWyu6JKQ-unsplash.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/pavlova"><h5>Pavlova With Pastry Cream</h5></a>
        </div>
        
        <p>Sweet and rich pastry cream rests on top a light and crispy meringue. Add some tangy fruit on top for a perfect balance of flavour.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/pita">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/usman-yousaf-dRjvM9NpUvg-unsplash.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/pita"><h5>Pita Bread</h5></a>
        </div>
        
          <p>Easy homemade bread that goes great as part of a wrap or on its own.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a class="title-link" href="/panna-cotta">
        <div class="image-container">
          <div>
            <img class="rounded-image" src="/images/panna-cotta-gcc5f57456_1920.jpg" alt="" width="100%">
          </div>
        </a>
        </div>
        <br>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <div class="post-intro">
            <a class="title-link" href="/panna-cotta"><h5>Traditional Panna Cotta</h5></a>
        </div>
        
          <p>An impossibly creamy, sweet dessert.</p>
       
        </div>
        <br>
        <hr class="home-hr">
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
          <a class="title-link" href="/banh-mi">
          <div class="image-container">
            <div>
              <img class="rounded-image" src="/images/pexels-flo-dahm-1483769.jpg" alt="" width="100%">
            </div>
          </a>
          </div>
          <br>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
          <div class="post-intro">
              <a class="title-link" href="/banh-mi"><h5>Weeknight Banh Mi</h5></a>
          </div>
          
            <p>Honestly, this might be one of the best sandwiches we've ever had.</p>
         
          </div>
          <br>
          <!-- <hr class="home-hr"> -->
      </div>


</div>


<%- include('partials/footer') %>