<%- include('partials/header') %>

<h1>Weeknight Banh Mi</h1>
<p>Honestly, this might be one of the best sandwiches we've ever had.</p>
<img class="recipe-img-top" src="/images/pexels-flo-dahm-1483769.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>You may know these as simply a Viatnamese Sub, which typically consists of lots of fresh or pickled veggies, an intensely flavoured, often spicy meat, placed within a baguette. If you are out shopping and see something labelled as banh mi bread, don't be fooled. Banh mi "bread" really is just a baguette, which comes from the French ties within Viatnam.</p>
<p>These are quickly becoming one of the most popular takeout items recently, and for good reason. But in around 30 minutes of easy work, you can make your homemade version.</p>
<p>Our weeknight variation of the banh mi seeks to simplify the meat, which actually uses ground beef. This is far from traditional, but in this case, it makes for a fine substitute. We will cook the meat in a sauce that will give it a lot of deep flavour, too.</p>
<p>This recipe calls for picked carrots and radishes. While optional, the pickled veggies are very easy to make and are highly recommended. The pickles can be prepared overnight and will stay fresh in an airtight container in the fridge for up to a week. If you don't have the time to prepare these in advance, using them raw will be fine.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <strong>Sandwich, meat, and toppings:</strong>
    <ul>
        <li>1 pound of ground beef</li>
        <li>2 whole baguettes, halved and then sliced lengthwise</li>
        <li>Mayo, for spreading (optional - can also use BBQ sauce, not traditional, but very tasty)</li>
        <li>A handful of cilantro</li>
        <li>1 cucumber, julienned</li>
        <li>Sriracha</li>
    </ul>
    <strong>Pickled veggies (or, you may omit this and use fresh veggies):</strong>
    <ul>
        <li>125 mL water</li>
        <li>125 mL white vinegar</li>
        <li>1 large carrot, julienned</li>
        <li>Small handful of radishes, julienned (optional)</li>
        <li>1 small red chili (optional)</li>
        <li>7.5 salt</li>
        <li>10g sugar</li>
    </ul>
    <strong>Beef sauce:</strong>
    <ul>
        <li>1 tablespoon sesame oil</li>
        <li>3 tablespoons brown sugar</li>
        <li>4 tablespoons soy sauce</li>
        <li>1 tablespoon worchestershire sauce</li>
        <li>3 tablespoons hoisin sauce</li>
        <li>juice of 1 lime, plus zest</li>
        <li>2 garlic cloves, minced</li>
        <li>1 teaspoon ginger, minced</li>
        <li>salt and pepper, to taste</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <strong>Pickled veggies (make ahead):</strong>
    <ol>
        <li>Cut the veggies and chili and place in a medium bowl. Add the salt and sugar. Mix well.</li>
        <li>Add the water and vinegar to a medium pot over medium heat. Heat until boiling.</li>
        <li>Pour the water and vinegar mixture over the veggies and let sit until cool. The flavour will enhance the longer you let it sit, but this can be done right before serving.</li>
    </ol>
    <strong>Beef and sauce:</strong>
    <ol>
        <li>In a small bowl, whisk together the sauce ingredients and set aside.</li>
        <li>Over medium high heat, brown the ground beef and crumble it into small pieces. Once browned, add the sauce and cook until it forms a syrup-like consistency that clings well to the meat. Set aside</li>
    </ol>
    <strong>Assembly:</strong>
    <ol>
        <li>Take the baguette half, spread the mayo on it, then layer in the ground beef, pickled veggies, cilantro, and drizzle sriracha overtop for a little extra heat. Enjoy!</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>