<%- include('partials/header') %>

<h1>Diner-Style Belgian Waffles</h1>
<p>Homemade waffles have never tasted so good. Other recipes claim to make the best waffles ever, but these are the real deal.</p>
<img class="recipe-img-top" src="/images/sheelah-brennan-umV1nb2RQiE-unsplash.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>As it turns out, the secret to getting that signature diner-style flavour is just heaps of butter and sugar. We may not recommend these to be your weekly Sunday morning go-to, but for special occasions, these glorius waffles are sure to impress.</p>
<p>Waffles are surprisingly simple if you have never tried to make them before. However, we will share a few tips to get waffles that are extra fluffy. To start, make sure you do not over mix the flour. Doing so will cause gluten development, which will result in a tougher, chewy consistency. Secondly, you want the batter to rest for about 30 minutes after mixing it. This will allow the flour to hydrate and the baking soda to get better incorporated.</p>
<p>If you don't have a waffle iron at home, unfortunately there isn't a good substitute. However, you can pick up a cheap one that will do a fine job. The more expensive ones will get you more even cooking and more uniform colouring, but at the end of the day, a waffle is still a waffle.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>2 cups all purpose flour</li>
        <li>3/4 cups sugar</li>
        <li>3 1/2 teaspoons baking powder</li>
        <li>2 large eggs</li>
        <li>1 1/2 cups milk</li>
        <li>2 sticks (1 cup) butter, melted</li>
        <li>1 teaspoon vanilla extract</li>
        <li>toppings of your choice</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Beat the eggs, sugar, vanilla, and melted butter (make sure it is not too hot or it will scramble the eggs) in a large bowl.</li>
        <li>Add the flour, baking powder and half of the milk. Mix well.</li>
        <li>Slowly add the remaining milk will mixing. If the batter is obviously too thick, add more milk.</li>
        <li>Turn on your waffle iron and let the batter rest for 10-30 minutes.</li>
        <li>Pour about 3/4 cup of batter into your iron, or whatever your iron is designed for. Cook until the steam escaping your iron is almost gone, or according to your waffle iron's instructions.</li>
        <li>To keep the cooked waffles crispy while you cook the rest of the batter, store them on a rack in the oven. We do not recommend stacking the waffles as that will cause steam from the lower ones to absorb into the ones above it.</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>