<%- include('partials/header') %>

<h1>Biscotti</h1>
<p>Coffee's favourite cookie!</p>
<img class="recipe-img-top" src="/images/jonathan-pielmayer-hdtWGLz8lDc-unsplash.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>Biscotti are the twice baked Italian cookie that you'll find in any coffee shop. For some reason, these cookies have the reputation as being quite hard to make. But today, we will show you how false that notion is. Sure, the second bake adds a little more time to a more basic cookie recipe, but the technical skill remains quit easy.</p>
<p>Many biscotti recipes will yield a cookie that will shatter your teeth if you do not first soak them in your cup of coffee. However, this recipe will give you a more forgiving texture, that is still very crispy, but is brittle enough to give way before your teeth do.</p>
<p>This recipe can be modified to add any mix-ins that you want! Do you have a near empty package of chocolate chips, or nuts that you do not know what to do with? Perfect! Just throw it in to these cookies and it will turn out great. Today, we will highlight a chocolate pecan flavour as well as a white chocolate, almond, and cranberry one. Feel free to change the mix-ins to anything. This recipe will make 2 "loaves", and each "loaf" can take about 2/3 cup to 1 cup of mix-ins, plus more for on top.</p>   
<p>The trickiest part of this recipe comes after the first bake, when you are getting ready to cut it into individual biscotti pieces. The key is to let the loaf cool COMPLETELY, and to not overbake the loaf during the first bake. As the loaf cools, it will firm up and become less crumbly.</p>
<p>It can be difficult to tell when the cookies are done during their cooking during their second bake. They should still have a slight bounce, but should still feel very firm when pressed. They will continue to firm up as they cool, so take care not to overbake them.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>2/3 cup butter (141g)</li>
        <li>1 1/3 cup sugar (265g)</li>
        <li>3 large eggs</li>
        <li>3 1/4 cups all-purpose flour (406g)</li>
        <li>1 tablespoon baking powder</li>
        <li>2/3 cup - 1 cup mix-ins per loaf (recipe makes 2 loaves, optional. We did 1/3 cup of each: almond, dried cranberries, and white chocolate. As well as 1/2 cup each: chocolate chips, chopped pecan pieces for the other loaf.)</li>
        <li>3 tablespoons cocoa powder, 1 tablespoon oil (if making a loaf of chocolate biscotti)</li>
    </ul>
    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Preheat oven to 350F and prepare a cookie sheet with parchment paper.</li>
        <li>Using a mixer, beat together the sugar and butter. You want to incorporate a lot of air into the mixture now - do not be afraid to overbeat it.</li>
        <li>Add the eggs, one at a time, mixing well between each addition.</li>
        <li>Mix in the vanilla extract.</li>
        <li>In a separate bowl, mix the flour, baking powder, and salt together.</li>
        <li>Slowly add the dry ingredients into the wed, mixing until well combined.</li>
        <li>Divide the cookie dough in half and place in separate bowls. Add the desired mix-ins to each bowl.</li>
        <li>Form each ball of dough into a log shape with squared off sides. It should measure about 10" long, 3" wide, and 1" tall. Make sure there is some room around each loaf to allow for expansion. The dough may be a little sticky to work with here, so you can flour your hands if that is the case. Press any additional toppings on top, if desired.</li>
        <li>Bake for 30 minutes, until golden brown and firm.</li>
        <li>Remove from the oven and leave until it is cooled completely (this is important).</li>
        <li>Slice the loaves into roughly 1"-2" inch thick slices, and place back onto the baking sheet (you may need to use a second one).</li>
        <li>Place bake into the 350F oven and cook for another 20 minutes, flipping the biscotti halfway through.</li>
        <li>Leave the biscotti to cool and finish firming up, then enjoy! The biscotti will last for a few weeks at room temperature in an airtight container.</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>