<%- include('partials/header') %>

<h1>Caramel Corn</h1>
<p>Get that sweet, caramel-ly, salty, crunch we know you're craving.</p>
<img class="recipe-img-top" src="/images/popcorn-g00cbf532c_1920.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>You will no longer have to wait for the next trip to the fair to get your caramel corn fix! This classic recipe consists of a simple caramel sauce that will get baked into your popcorn. The process of baking the popcorn is essential, as that is what gives it a crackly, crispy texture. Without it, the caramel coating will become too sticky.</p>
<p>While this recipe tastes fantastic on its own, you can of course take it to the next level by adding your choice of mixins. Adding a handful of chopped peanuts to the caramel before pouring it over the popcorn is one of the easiest ways to elevate this dish. Alternatively, our favourite is to mix some Golden Grahams cereal and mini marshmallows in while pouring the caramel over the popcorn. Then after it is been pulled out of the oven and cooled, drizzling melted chocolate over it. The resulting flavour will remind you have a lovely caramel s'more! You have to try it.</p>
<p>This recipe requires 4 quarts of popped popcorn. To simplify the recipe, you can use a flavourless microwaved popcorn. Or, what we recommend, is making your own popcorn with 1/2 cup of kernals. If you have never made your own popcorn before, don't fret! It is quite simple. Simply add about 2 tablespoons of a neutral flavoured oil (coconut oil is very popular for this) to a large pot over medium heat. Add 2-3 kernals to the pot and wait for them to pop. Once popped, you know the pot is hot enough. Throw the remaining kernals into the pot, place a slightly ajar lid on top, and lower the heat to medium-low. Shake the pot constantly until you stop hearing frequent popping, this may take 5-10 minutes. There you have it! Your own homemade popcorn - pretty easy, right?</p>
<p>If you are trying to be slightly more health conscious, we find that this recipe still works well by either halving the caramel ingredients, or doubling the amount of popcorn you use. The coating on each piece of popcorn won't be as consistent, but you will still get a lot of the same great taste without as much butter and sugar per bowl.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>4 quarts popped popcorn (1/2 cup kernals makes about 4 quarts)</li>
        <li>1 cup brown sugar</li>
        <li>1/2 cup light OR dark corn syrup</li>
        <li>1/2 cup butter</li>
        <li>1/2 teaspoon salt</li>
        <li>1 teaspoon vanilla extract</li>
        <li>1/2 teaspoon baking soda</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Preheat the oven to 250F. Spray a large baking sheet with cooking oil, or line it with parchment or wax paper.</li>
        <li>Dump your popped popcorn onto the sheet and place in the preheated oven while you make your caramel. Do not worry, the popcorn will not burn at these low temperatures - we just want to dry it out.</li>
        <li>Mix the sugars, butter, and salt in a medium saucepan over medium heat. Stir constantly until it reaches a boil.</li>
        <li>Once it starts boiling, let it continue boiling untouched for 5 minutes.</li>
        <li>Remove from the heat and stir in the baking soda and vanilla. It will bubble, so be careful. This mixture is extremely hot and will burn you if you let it touch your skin.</li>
        <li>Now is a good time to add any mixins that you want to be coated in caramel. Pour over the popcorn, and place it back in the oven for 45 minutes. Stir the popcorn every 15 minutes or so. This will make the coating more even across all pieces.</li>    
        <li>Remove from the oven and let cool. Then, break apart the popcorn into individual kernals. Store in an air tight container for up to a week.</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>