<%- include('partials/header') %>

<h1>Cheater's Chicken Katsu Curry</h1>
<p>A favourite dish from Japan - made easy and in under 30 minutes!</p>
<img class="recipe-img-top" src="/images/fried-pork-with-sweet-sauce.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>Chicken katsu curry - ready in less than 30 minutes? How? Easy! We cheat, that's how. Traditional Japanese chicken katsu curry requires you to make rice, a curry, and a fried chicken breast to go along with all of that. The rice is simple enough and we can make a simple (but flavourful curry) that comes together quickly. But to really save time, we will cheat and use a frozen and breaded chicken burger (or chicken strip) instead of making the fried chicken from scratch. This will make the most arduous part of this the easiest, and make it cheaper! Sure, it won't be quite as good as the real thing, but the curry provides enough flavour that you won't even notice it. The chicken burger patties will get super crispy and will retain that texture even when sitting under all of that luxurious curry sauce.</p>
<p>Another great thing about this recipe is that it only uses a bunch of pantry staples - rice, potatoes, carrots, and some simple spices and seasonings will be all you need for this flavourful dish.</p>
<p>This dish is best with a <a href="https://amzn.to/3inIqYv">*Japanese curry powder</a>, as it is sweeter and works better in this dish. However, any curry powder will do.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>1 tablespoon oil</li>
        <li>3 medium sized carrots, peeled and sliced into small chunks</li>
        <li>1 yellow onion, sliced into thin strips</li>
        <li>1 potato, peeled and largely diced</li>
        <li>1 tablespoon butter</li>
        <li>2 tablespoons fresh ginger</li>
        <li>2 tablespoons flour</li>
        <li>2 tablespoons curry powder</li>
        <li>2 tablespoons honey</li>
        <li>1 teaspoon soy sauce</li>
        <li>salt and pepper, to taste</li>
        <li>prepared rice</li>
        <li>4 baked chicken burgers, from frozen, sliced into strips</li>
    </ul>
    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Begin making the rice and start cooking the chicken to the package directions.</li>
        <li>Cut the carrots, onion, and potato - set aside.</li>
        <li>Heat the oil in a medium pan over medium high heat. Once hot, add the onion. Cook until soft and starting to brown, about 5 minutes.</li>
        <li>Add the carrot and potato, stir the vegetables around and cook for an additional few minutes.</li>
        <li>Add in the butter and ginger, cook until fragrant.</li>
        <li>Add the flour and curry powder. Stir well and cook until the raw flour smell is gone.</li> 
        <li>Add the chicken broth, soy sauce, and honey. Add salt and pepper to taste.</li>
        <li>Bring the curry to a boil, then turn down the temperature to a simmer. Cook until it has reached your desired thickness and vegetables have softened, which should be about 15 minutes.</li>
        <li>By now, the chicken and rice should be done cooking. Slice the chicken into strips and, along with the curry, lay atop your bed of rice. Enjoy!</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>