<%- include('partials/header') %>

<h1>Apple Crisp</h1>
<p>An ooey, gooey, fruity dessert that goes great with ice cream.</p>
<img class="recipe-img-top" src="/images/didi-miam-RtB5Irx-H9c-unsplash.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>Also known as a crumble, this dessert will bring you back to a simpler time. The sweet pie-like filling, the cinnamony, crispy oat topping, and a rich vanilla ice cream show how simple it is to make something that tastes like a work of art. If you were lucky enough to grow up with a Grandma that made this for you (which we did, and this is her recipe), then we'll be happy to take you back to those years with this dish. If not, well, prepare to be the one that passes this down to your family.</p>
<p>Crisp tends to be the forgotten sibling of pie, but honestly, we prefer the crisp where we come from. There is just something special that happens within the topping that takes it over the edge.</p>
<p>Serving this hot with ice cream is an absolute necessity. As the sweet cream melts into the dessert below, it elevates the whole experience.</p>   
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <strong>Filling:</strong>
    <ul>
        <li>1 1/2 pounds of fruit (we are doing apples thinly sliced, but almost anything will work here. You can even use frozen fruit if you find that easier)</li>
        <li>1/4 - 1/2 cup granluated sugar (use more or less sugar depending on your taste) </li>
        <li>1/4 cup all purpose flour</li>
        <li>1/2 tablespoon cinnamon</li>
    </ul>
    <strong>Topping:</strong>
    <ul>
        <li>1 cup all purpose flour</li>
        <li>3/4 cup packed brown sugar</li>
        <li>3/4 cup rolled oats</li>
        <li>1/2 cup butter, melted</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Preheat oven to 375F and lightly grease a baking pan. Any pan should work, but you will want at least an inch of fruit filling covering the bottom.</li>
        <li>Filling: In a large bowl, toss the fruit, sugar, flour, and cinnamon together. Transfer into the prepared baking dish and spread it out into an even layer.</li>
        <li>Topping: Toss together the flour, brown sugar, and oats together. Drizzle in the melted butter. Mix well, it should have the consistency of wet sand. Sprinkle over the filling.</li>
        <li>Bake for 30 minutes, or until the topping is golden brown and the filling is bubbling beneath it. Enjoy!</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>