    <%- include('partials/header') %>

    <div class="row">
      <div id="new" class="col">
        <h1>New</h1>
        <br>
        <div class="card recipe-card" style="width: 18rem;"><a href="/pizza-dough" class="recipe-card-link">
          <img class="card-img-top" src="/images/dough-g650803e76_1920.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Fermented Pizza Dough</p>
          </div>
        </div>
      </a>

        <br>
        <div class="card recipe-card" style="width: 18rem;"><a href="/yogurt-parfait" class="recipe-card-link">
          <img class="card-img-top" src="/images/pexels-daria-shevtsova-704971.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Quick and Easy Yogurt Parfait</p>
          </div>
        </div>
      </a>

      <br>
      <div class="card recipe-card" style="width: 18rem;"><a href="/panna-cotta" class="recipe-card-link">
        <img class="card-img-top" src="/images/panna-cotta-gcc5f57456_1920.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Traditional Panna Cotta</p>
        </div>
      </div>
    </a>

    <br>
      <div class="card recipe-card" style="width: 18rem;"><a href="/caramel-corn" class="recipe-card-link">
        <img class="card-img-top" src="/images/popcorn-g00cbf532c_1920.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Caramel Corn</p>
        </div>
      </div>
    </a>

      </div>
      <div id="popular" class="col">
        <h1>Popular</h1>
        <br>

        <div class="card recipe-card" style="width: 18rem;"><a href="/crisp" class="recipe-card-link">
          <img class="card-img-top" src="/images/didi-miam-RtB5Irx-H9c-unsplash.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Apple Crisp</p>
          </div>
        </div>
      </a>
      <br>
      <div class="card recipe-card" style="width: 18rem;"><a href="/banh-mi" class="recipe-card-link">
        <!-- <img class="card-img-top" src="https://images.pexels.com/photos/1483769/pexels-photo-1483769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Card image cap"> -->
        <img class="card-img-top" src="/images/pexels-flo-dahm-1483769.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Weeknight Banh Mi</p>
        </div>
      </div>
    </a>
      <br>
        <div class="card recipe-card" style="width: 18rem;"><a href="/pizza-dough" class="recipe-card-link">
          <img class="card-img-top" src="/images/dough-g650803e76_1920.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Fermented Pizza Dough</p>
          </div>
        </div>
      </a>
        <br>
        <div class="card recipe-card" style="width: 18rem;"><a href="/korean-bbq" class="recipe-card-link">
          <img class="card-img-top" src="/images/pexels-becerra-govea-photo-5774159.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Korean-Style BBQ</p>
          </div>
        </div>
      </a>


      
      </div>
      <div class="col">
        <h1>Trending</h1>
        <br>
        <div class="card recipe-card" style="width: 18rem;"><a href="/pizza-dough" class="recipe-card-link">
          <img class="card-img-top" src="/images/dough-g650803e76_1920.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Fermented Pizza Dough</p>
          </div>
        </div>
      </a>
      <br>
      <div class="card recipe-card" style="width: 18rem;"><a href="/banh-mi" class="recipe-card-link">
        <!-- <img class="card-img-top" src="https://images.pexels.com/photos/1483769/pexels-photo-1483769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Card image cap"> -->
        <img class="card-img-top" src="/images/pexels-flo-dahm-1483769.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Weeknight Banh Mi</p>
        </div>
      </div>
    </a>
    <br>
    <div class="card recipe-card" style="width: 18rem;"><a href="/pita" class="recipe-card-link">
      <img class="card-img-top" src="/images/usman-yousaf-dRjvM9NpUvg-unsplash.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Pita Bread</p>
      </div>
    </div>
  </a>
  <br>
  <div class="card recipe-card" style="width: 18rem;"><a href="/peanut-butter-fudge" class="recipe-card-link">
    <img class="card-img-top" src="/images/walnut-fudge-g72072b9db_1920.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Easy Peanut Butter Fudge</p>
    </div>
  </div>
</a>
      </div>
    </div>

<%- include('partials/ad_free_footer') %>