<%- include('partials/header') %>

<h1>Korean-Style BBQ</h1>
<p>A sweet, savoury, and very delicious beef dish that goes great with rice.</p>
<img class="recipe-img-top" src="/images/pexels-becerra-govea-photo-5774159.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>While this dish doesn't actually make use of a barbeque, the flavour is all still present here. This is also one of our favourite weeknight meals to make. You can marinate the meat overnight, and when ready to cook, the dish comes together in about 10 minutes. Of course, we also recommend serving this with a healthy portion of rice, which will add a little extra time to the cooking.</p>
<p>If you've never had Korean BBQ before, then now is a great time to try it for yourself! If you're a fan of a typical western BBQ, you're sure to be a fan of this. There is still an emphasis on a strong meaty flavour, while being packed in a sweet, sesame sauce.</p>
<p>When you cook this dish, make sure to do it over a very high heat. That will help the sugars to really carmelize and deepen the flavours into something truly special.</p>
<p>This recipe uses ribeye steak, but really any cut of meat will work. Pork tenderloin, or perhaps even chicken will make for a fine substitute in a pinch. Preparation will be the same for either choice, just make sure to cut the meat into thin slices.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>1 1/2 pound ribeye steak</li>
        <li>1 onion, 1/2 roughly chopped, the other half in thin slices</li>
        <li>4 cloves of garlic, minced</li>
        <li>1 tablespoon ginger, minced</li>
        <li>1/2 pear, peeled and roughly chopped (can use any sweet and slightly tart fruit, like strawberry or pineapple)</li>
        <li>2 spring onions, 1 roughly cut up, 1 into thin rings for garnish</li>
        <li>3 tablespoons brown sugar</li>
        <li>1 teaspoon black pepper</li>
        <li>1/3 cup soy sauce</li>
        <li>3 tablespoons sesame oil</li>
        <li>oil, for greasing the pan (about 1 tablespoon)</li>
        <li>rice, for serving</li>
        <li>sesame seeds, for serving (preferably toasted)</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Slice the beef as thinly as possible. It helps if the meet is very slightly frozen for this. Set aside in a medium sized-dish that you will use to marinate the beef in.</li>
        <li>In a blender, blend the onion chunks, roughly chopped green onion pieces, garlic, ginger, pear, brown sugar, pepper, soy sauce, and sesame oil until smooth.</li>
        <li>Pour the blended marinade over the beef and leave to marinate for as long as time allows, preferably overnight.</li>
        <li>Heat the oil in a pan and bring it to high heat. Once very hot, add the meat, while trying to leave as much marinade behind as you can.</li>
        <li>Sear the meat until cooked and has a deep colour. Add in the marinade if you want it to be saucier</li>
        <li>Top with the sliced green onions and sesame seeds atop a bed of rice. Enjoy!</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>