<%- include('partials/header') %>

<h1>Traditional Panna Cotta</h1>
<p>An impossibly creamy, sweet dessert.</p>
<img class="recipe-img-top" src="/images/panna-cotta-gcc5f57456_1920.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>If you've never had panna cotta before, then we urge you to drop what you're doing and make this now. While the texture may remind you of Jell-O, don't be fooled. The wobbly facade that this panna cotta shares with the Jell-O comes from the gelatin. Some people may hate the idea of the inclusion of this, but trust is when we say that you won't taste it at all in the final product. This is far from the artificial fruity flavour you may have grown up with from those Jell-O mixes. In fact, the taste of this panna cotta is a lot like a rich ice cream, or or velvety smooth crème brûlée without the sugar topping.</p>
<p>You will surely impress whomever you serve with this simple recipe. It is so simple that all you need is a saucepan and a few small dishes to serve it in. We recommend grabbing some <a href="https://amzn.to/3TtXocH">*ramekins</a> to really make the dish pop.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>1/3 cup skim milk</li>
        <li>1 (1/4 ounce) envelope of unflavoured gelatin</li>
        <li>2 1/2 cups heavy cream</li>
        <li>1/2 cup white sugar</li>
        <li>1 1/2 teaspoon vanilla extract</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Pour the skim milk into a small bowl and stir in the gelatin package. Set aside for the gelatin to hydrate.</li>
        <li>In a saucepan, stir the heavy cream and sugar together and cook over medium heat. Once the milk is boiling (be careful, this may overboil from your pan), add in the skim milk and gelatin mixture. Stir until the mixture is completely dissolved and smooth. Cook for an additional minute, stirring contantly.</li>
        <li>Remove from the heat and stir in the vanilla. Pour into 6 of your desired dishes.</li>
        <li>Leave the dishes out, uncovered, at room tempature until completely cool. Then, cover with plastic wrap and place in the fridge for at least 4 hours to set.</li>
        <li>When ready to serve, carefully run a butterknife around the edge of the panna cotta and the dish. Place a plate overtop and invert the dish. You may need to gently shake the dish to get the dessert to release. Top with fresh fruit or a caramel sauce to really complete the dish. Enjoy!</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>