<%- include('partials/header') %>

<h1>Pavlova With Pastry Cream</h1>
<p>Sweet and rich pastry cream rests on top a light and crispy meringue. Add some tangy fruit on top for a perfect balance of flavour.</p>
<img class="recipe-img-top" src="/images/toa-heftiba-Hf6jWyu6JKQ-unsplash.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>This traditional Australian/New Zealand (depending on who you ask, we won't get into that discussion) dessert gives an experience unlike a lot of other desserts you have tried. The textural difference between the crispy meringue and smooth cream is just fantastic. And when cream has been sitting on top for a few minutes, it starts to soften the merignue below it, creating something that will remind you of a marshmallow. The tangy fresh fruit on top juxtaposes the sweetnees below it perfectly, creating a mouthwatering experience that will keep you coming back for more.</p>
<p>One of the best parts about this dessert is how far the ingredients stretch. Most of the volume of this dessert comes from the eggs in the form of the pastry cream and meringue. Just 3 eggs will create a dessert the size of a baking sheet.</p>
<p>This dessert if perfect for those warm summer nights where you want a satisfying, sweet treat without bogging yourself down with a large piece of pie or cake. Because a lot of this dessert is just air, it's surprisingly low-calorie for how great it tastes.</p>
<p>This dish requires you to make meringue, which is infamous for being finnicky. To start, having an electric beater will make this significantly easier. Second, and perhaps most important, you need to be using a very clean bowl to whisk the eggs in. When we say clean, we mean <i>clean</i>. Any oily residue will deflate your lovely foam. Having some yolk from the egg in there will also cause the same effect.</i></p>
<p>This recipe uses 3 eggs, which will create a large dessert. We have found that 1 egg per person will leave everyone with a very sizeable portion, or a light portion for 2 people. The quantities are easily divisible by 3 to get the base recipe per person, for you to scale as you desire.</p>
<p>It is best to make this dessert the night before you plan on serving it. The meringue is best when it has a chance to dry out in the oven all night. The meringue also only uses the egg whites, while the pastry cream uses only the egg yolks. So, save the yolks for that. The cream can be stored overnight with plastic wrap pressed firmly into the top to prevent it from drying out.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <strong>Meringue:</strong>
    <ul>
        <li>3 egg whites</li>
        <li>150g powdered sugar</li>
        <li>1 1/2 teaspoon lemon juice (or cream of tartar)</li>
        <li>1 1/2 teaspoon cornstarch</li>
        <li>salt, to taste</li>
    </ul>
    <strong>Pastry Cream:</strong>
    <ul>
        <li>3 egg yolks</li>
        <li>3 tablespoons sugar</li>
        <li>3 teaspoons cornstarch</li>
        <li>9 tablespoons milk</li>
        <li>3 tablespoons butter</li>
        <li>vanilla, to taste</li>
    </ul>
    <h3><strong>Directions</strong></h3>
    <strong>Meringue (make the night before):</strong>
    <ol>
        <li>Preheat the oven to 350F.</li>
        <li>Whisk the egg whites with an electric beater until soft peaks form. Which in the powdered sugar, no more than few tabelspoons at a time, until stiff peaks form - this may take over 10 minutes. Beat in the cornstarch and lemon juice until smooth.</li>
        <li>Dump the meringue onto a parchment lined baking sheet into a thick, round, cake-like shape. Try to give it a bit of a crust so it can contain the pastry cream later.</li>
        <li>Put it in the oven, then drop the temperature to 215F. Bake for 90 minutes, then turn off the oven but do not remove the meringue from the oven. Let it sit in there for as long as possible, but ideally overnight. We are trying to dehydrate it as much as possible here.</li>
    </ol>
    <strong>Pastry Cream:</strong>
    <ol>
        <li>Whisk the yolks with the sugar and cornstarch until smooth.</li>
        <li>In a medium saucepan, bring the milk to a simmer over medium-low heat. Slowly pour some of the milk into the egg mixture while stirring constantly. This will temper the eggs.</li>
        <li>With the eggs tempered, transfer everything back into the saucepan and bring it back up to a simmer, making sure to whisk constantly. When the cornstarch begins to gel, remove from the heat and stir until everything is smooth.</li>
        <li>Drop in the cold butter chunks and slowly whisk them in. You may need to put the mixture back on the heat if the butter is not melting. Once the butter is incorporated, whisk in the vanilla and extra salt if you want it.</li>
        <li>Transfer to a bowl, covered, and let it sit in the fridge until ready to top the meringue. Save the topping for the absolute last possible moment to preserve the textural contrast.</li>
        <li>Top with any fruits you wish, but tangy fruits work best, like raspberries, blackberries, etc. Enjoy!</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>