<%- include('partials/header') %>

<h1>Peanut Butter Fudge</h1>
<p>Delectable peanut buttery goodness that you can make in a microwave.</p>
<img class="recipe-img-top" src="/images/walnut-fudge-g72072b9db_1920.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>Everyone loves a good fudge. But who said fudge had to be hard to make? This recipe uses just 4 ingredients and takes less than 15 minutes. That's right, homemade fudge in just 15 minutes (plus time to let it set).</p>
<p>What makes a good fudge? For us, it has to have a deep and rich flavour, along with a silky smooth texture. Thankfully, peanut butter offers a lot of that on its own. All we need to do is firm it up.</p>
<p>You can take this recipe to the next level with some fairly easy additions, as well. Adding some chopped and toasted peanuts will give you a little more texture. Adding a chcolate ganache will give you that chocolate fix. Adding chrushed mini pretzels on top will add some more salty goodness. Really, you can't go wrong with anything you add - have fun with it!</p>   
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
       <li>1 cup unsalted butter (225g), plus more for greasing the pan</li>
       <li>1 cup smooth peanut butter (260g)</li>
       <li>1 teaspoon vanilla extract</li>
       <li>3 3/4 cups powdered sugar (455g)</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Grease an 8" pan with butter. Trim a piece of parchment or wax paper to line the pan, try to leave some that goes up the sides to make it easier to grab and pull later.</li>
        <li>Combine the butter and peanut butter in a sizable microwave-safe bowl. Cover with plastic wrap and poke some vent holes in it for the steam to escape.</li>
        <li>Microwave for 2 minutes on high. Stir it well, then microwave for 2 minutes again - it will be hot, so be very careful.</li>
        <li>Add the powdered sugar and vanilla to the peanut butter mixture. It will be hard to stir and will firm up now.</li>
        <li>Spread the mixture into the prepared pan and cover with a layer of parchment or wax paper. Let cool in the fridge for 2 hours. Cut and store in an air tight container at room temperature for up to a week.</li>    
    </ol>
</div>
</div>





<%- include('partials/footer') %>