<%- include('partials/header') %>

<h1>Pita Bread</h1>
<p>Easy homemade bread that goes great as part of a wrap or on its own.</p>
<img class="recipe-img-top" src="/images/usman-yousaf-dRjvM9NpUvg-unsplash.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>While most grocery stores carry their own pita bread and at a good price, we think it's worth making your own for special occasions. The warm toastiness and charring are both things that tend to be missing from the packaged stuff, and that's exactly what makes pita so dang good.</p>
<p>Pita is an incredibly versatile bread. You may see it used commonly as a wrap for things like gyros, or as a dip for sauces, or can even be eaten entirely on its own. It will taste great no matter what you do with it. If you aren't a traditionalist, it can also be used similarly to naan, the famous Indian bread.</p>
<p>The ingredients are quite similar to any other simple bread you may have made before, but it is the cooking method that let's it develop its extra flavour.</p>
<p>The bread will puff up considerably when cooked, so be sure to roll it as thin as possible if you don't want it too thick.</p>
<p>The pita dough will really want to stick to itself. Use lots of flour and layers of parchment paper between the rolled out dough disks to prevent them from sticking to each other.</p>
<p>We will be using a stand mixer to help make the dough, but this can all be done by hand.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>1 1/2 cups warm water (between 105F and 115F)</li>
        <li>1 1/2 teaspoon active dry yeast</li>
        <li>1 teaspoon sugar</li>
        <li>2 tablespoons olive oil</li>
        <li>1 teaspoon salt</li>
        <li>3 1/2 cups all purpose flour</li>
        <li>extra flour to prevent sticking</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <ol>
        <li>In a stand mixer with a dough hook attached, add the water, yeast, and sugar. Mix to combine. Let the mixture stand for 5 minutes to allow the yeast to bloom. If the mixture does not froth up, you may need to get new yeast and try again.</li>
        <li>Add the olive oil and salt. With the mixer running, slowly add the flour and let it mix until the dough pulls cleanly away from the sides of the bowl.</li>
        <li>Cover the dough and leave somewhere warm to rise and rest for 30 minutes.</li>
        <li>Divide the dough into 8 equal sized pieces. Sprinkle flour liberally onto each piece and roll into about 8" rounds. The dough should be very thin. If the dough keeps springing back and not rolling out, take a 5 minute break to let the dough rest. After rolling out the dough, poke the dough all over the prongs of a fork, but make sure not to poke all the way through.</li>
        <li>Heat a large pan over medium-high heat and wait for it to get up to temperature. Reduce the heat to medium and grease it with olive oil and place one pita in and let it cook for a few minutes until it is nice and golden. Flip and cook the other side for a few more minutes until it is also golden.</li>
        <li>Store the cooked pitas inside a clean kitchen towel while the others are cooking. This will help keep them warm and from drying out. Make sure to regrease the skillet between each pita.</li>
        <li>The pita bread will last for a few days inside an air tight container in the fridge, or you can freeze them to keep them fresh for months.</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>