<%- include('partials/header') %>

<h1>Fermented Pizza Dough</h1>
<p>Great for making ahead of time and keeping in the fridge for up to a week</p>
<img class="recipe-img-top" src="/images/dough-g650803e76_1920.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>What's better than homemade pizza? Seriously, we can't think of anything. With this recipe, you can have fresh, homemade pizza in a weekday-friendly manner.</p>
<p>What is a fermented dough? Simply, it is a dough that you leave to rest in the fridge for a few days, and up to a week. The flavours that develop overtime from this process creates something you've never experienced before from a more traditional dough. As the yeast consumes the sugar, it starts to take on an almost alcoholic scent. While the dough won't get tipsy, it takes on a ton of new flavour that these simple ingredients won't get you on their own.</p>
<p>Apart from the better flavour, the fermentation process takes days to take effect. So, we recommend making this dough on the weekend, then using it during the week. With the dough taken care of, assembling and cooking your pizzas will take less than 30 minutes - that's right, you can have homemade pizzas on a weeknight, in less than 30 minutes. What's not to love?</p>
<p>Don't be daunted by the thought of making great pizza dough at home. Really, it's quite simple. In terms of special equipment, we recommend grabbing yourself an instant read thermometer. While not essential, it'll prevent you from accenditally killing the yeast with the hot water. We also recommend using a stand mixer with a dough hook attachment to make the kneading process easier. However, that can be all done by hand.</p>
<p>This recipe just covers the pizza dough, if you want to see how we recommend cooking your new favourite pizza recipe, check out our cast-iron sausage pizza recipe here.</p>
<p>This recipe will make 6 9-inch pizzas.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>2 1/4 cups warm water (at 105F-115F)</li>
        <li>1 tablespoon sugar</li>
        <li>1 packet (or a tablespoon) of active dry yeast</li>
        <li>2 tablespoons olive oil</li>
        <li>1 tablespoon salt</li>
        <li>5 cups bread flour (or all purpose - bread flour makes for a chewier crust)</li>
        <li>herbs and spices, optional (no more than a teaspoon or two)</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Warm your water to 105F-115F and lightly mix with the sugar and yeast in a large bowl. Allow the yeast to bloom (froth up) for about 5 minutes. If it doesn't get frothy, your yeast is likely dead and you will need to start fresh with some new yeast.</li>
        <li>Add the rest of the dough ingredients and mix until a shaggy dough forms. You may need to add more flour if it is too sticky, but try to add as little as possible. Letting the dough rest for a bit will cause the flour to hydrate and will make it easier to work.</li>
        <li>Knead the dough until you can see light through it when stretched thin. This should be about 10 minutes of kneading</li>
        <li>Split the dough into 6 lightly oiled containers and store in the fridge for up to one week.</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>
