<%- include('partials/header') %>

<h1>Ramen Stir Fry</h1>
<p>A very easy dish that's as good as takeout. And it's ready in less than 20 minutes!</p>
<img class="recipe-img-top" src="/images/focused-on-you-grDcbeK2MRY-unsplash.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>Stir Fry is the ultimate weeknight dish. Once your ingredients are all prepped, the actual cooking process comes together incredibly quickly. Also, you can pack a ton of flavour into these types of dishes. You can tune this dish to your desired flavour, just add more sweet, spicy, or salty ingredients as you see fit. But, we recommend trying this recipe out with our ratios and going from there.</p>
<p>For this recipe, we will use your standard brick of ramen noodles that you can find in any store. However, you can use any noodles for this, even a spaghetti noodle! If you choose to a longer noodle, it is best to snap them in half first before boiling them.</p>
<p>To make the prep work even easier, you can buy <a href="https://amzn.to/3eR9qyh">*packages of vegetables already cut up for the use of coleslaw</a>. Obviously, we won't be using it for coleslaw, but these usually contain julliened carrots, cabbage, and brocolli - all things that go great in a dish like this!</p>
<p>To add more protein to this dish, feel free to add some chicken breast or ground meat. Just brown it off before adding the veggies to the pan and cut into bite-sized pieces.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <strong>Sauce:</strong>
    <ul>
        <li>1/2 cup hoisin sauce</li>
        <li>2 tablespoons soy sauce (low sodium)</li>
        <li>1 tablespoon worcestershire sauce</li>
        <li>1 tablespoon cornstarch</li>
        <li>1 teaspoon sesame oil</li>
        <li>1/2 teaspoon black pepper, crushed</li>
        <li>1 of the flavour packets included in the ramen packages (optional)</li>
    </ul>
    <strong>Stir Fry:</strong>
    <ul>
        <li>9 ounces ramen noodles (3 packages, or your preferred noodle)</li>
        <li>1-2 cups mixed veggies, shredded (cabbage, bell peppers, peas, bean sprouts and brocolli work great)</li>
        <li>2 carrots, peeled and jullienned</li>
        <li>3 teaspoons oil</li>
        <li>4 cloves garlic, minced</li>
        <li>1 tablespoon ginger, minced</li>
    </ul>
    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Whisk the sauce ingredients together and set aside. Make sure to whisk out any lumps from the cornstarch now.</li>
        <li>Cook your noodles to the package directions, drain and cool, while reserving some of the liquid.</li>
        <li>If you are adding meat to the dish, cook it now and set aside.</li>
        <li>To an oiled pan over medium high heat, add the oil and veggies. Cook for about 4 minutes, until tendercrisp (softened, but still has a snap to it). Add the ginger and garlic and cook until fragrent.</li>
        <li>Add the sauce to the pan and simmer until thickened, about 3 - 5 minutes. Add the meat back to the pan, if using.</li>
        <li>Add the cooked noodles to the pan, adding some of the reserved noodle water to achieve your desired consistency - remember that the sauce will thicken as it cools, so make it looser than you want now.</li>    
        <li>Top with your choice of garnish, such as green onions or sesame seeds. Enjoy!</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>