<%- include('partials/header') %>

<h1>Crispy Roasted Potatoes</h1>
<p>These roasted potatoes are even better than deep fried. Give them a try!</p>
<img class="recipe-img-top" src="/images/jonathan-farber-hltIeEQC_uQ-unsplash.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>Everyone has probably had roasted potatoes, but we gaurantee you haven't had any like this before. These potatoes will develop a beautiful, almost glass-like exterior while the inside remains incredibly fluffy.</p>
<p>What's the secret to the crispiness? Well, it comes from first boiling the potatoes in a basic solution. This will help break down the outer layer of starch around the potatoes. When baked, the loose starch is what will harden into a crisp shell. After boiling the potatoes, we will also have you vigourously shake the potatoes to roughen up their exterior. This will provide more surface area to expose more of that loosened starch to get even crispier.</p>
<p>To flavour these potatoes, we will use an oil infused with various herbs and garlic. It is important to strain the herbs and garlic from the oil or else you will risk those ingredients burning as it bakes. Alternatively, you can use less oil and season with simple salt and pepper at the end of cooking, up to you. However, it is essential to use some oil if you want the potatoes to be as crispy as possible.</p>
<p>It is very important to use a brown variety of potato, such as a Yukon Gold or Russett potato. A red-skinned potato contains more moisture and won't bake up as crispy.</p>
<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>1/2 teaspoon baking soda</li>
        <li>4 pounds Russet or Yukon Gold potatoes, peeled and cut into desired bite-sized pieces (do larger pieces than you might think, as they will shring)</li>
        <li>5 tablespoons olive oil, or whichever fat you prefer</li>
        <li>Handful of rosemary and parsley, or other herbs, finely chopped</li>
        <li>3 cloves garlic, minced</li>
        <li>Black pepper, to taste</li>
        <li>Salt, to taste</li>
    </ul>

    <h3><strong>Directions</strong></h3>
    <ol>
        <li>Preheat oven to 450F and bring 2 litres of water to a boil over high heat.</li>
        <li>Add the baking soda and a pinch of salt to the water, along with the potatoes. Bring to a boil, then reduce to a simmer. Cook for until potatoes can be easily peirced by a fork or knife, about 10 minutes</li>
        <li>While the potatoes are boiling, combine the olive oil, rosemary, garlic, and black pepper in a small saucepan over medium heat. Cooking, stirring constantly, until the garlic is browned, about 3 minutes. Strain through a fine-mesh strainer and set aside. Reserve the strained garlic and rosemary, as we will use it again later.</li>
        <li>Carefully drain the potatoes and let them sit until they stop steaming. Transfer to a bowl along with the infused oil, season with more salt and pepper, and shake the bowl to roughen up the potatoe pieces. The goal is to shake as much as you can without turning them completely into mashed potatoes. You want the pieces to be clearly individual, but with a very mushy exterior.</li>
        <li>Transfer potatoes to a baking sheet, spread them out, and cook without moving them for 20 minutes in your preheated oven. After 20 minutes, stir the potatoes well, some may be stuck to the pan, make sure to release them all. Continue cooking for an additional 30-40 minutes, stirring occasionally, until potatoes are well done.</li>
        <li>Add the reserved garlic and rosemary back to the potatoes and taste for seasoning. Enjoy!</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>