<%- include('partials/header') %>

<h1>Quick and Easy Yogurt Parfait</h1>
<p>A nutricuous and sweet snack for anytime of the day!</p>
<img class="recipe-img-top" src="/images/pexels-daria-shevtsova-704971.jpg" alt="Card image cap">
<br>
<br>
<hr>
<br>


<div class="recipe">
<p>Don't be fooled by its simplicity. This yogurt parfait will quickly become one your most popular concoctions to throw together. With just a few simple ingredients, you can create a quick, healthy, and tasty snack! All of these ingredients can easily be found wherever you shop and will last for a long time if stored properly.</p>
<p>While we recommend using a simple vanilla, low-fat yogurt, you really can use anything you want. Greek yogurt is a great choice if you are looking for a lower calorie option. If you are craving all that this dish has to offer, go ahead for the full-fat, sweetend variety (we won't judge!). Feel free to use a yogurt that already has a flavouring as well - if you do so, you may want to opt out of adding your own fruit as that may overload it.</p>
<p>Our granola topping will stay crispy, even after being left in the yogurt for some time. The heterogeniety offered by the crispy oats and the luxuriously smooth yogurt creates something that is truly delectable.</p>
<p>We decided to go all out with the fruit filling, as we prefer the texture of it after it has been cooked down. However, if you are looking to save time, you can simply use them in their raw form.</p>
<p>This yummy parfait will keep fresh for days, just make sure to keep it cold!</p>

<br>
<hr>
<br>

<div class="ingredients">
    <h3><strong>Ingredients</strong></h3>
    <ul>
        <li>4 cups vanilla low-fat yogurt</li>
        <li>1.5 cups fresh or frozen fruit (we recommend any type of berry)</li>
        <li><h6>Granola (or you can use 1.5 cups of storebought granola)</h6></li>
        <ul>
            <li>1 cup rolled oats</li>
            <li>1/2 cup chopped, raw nuts (we like almonds or pecans)</li>
            <li>1/2 teaspoon ground cinnamon</li>
            <li>1/4 cup melted coconut oil</li>
            <li>1/4 cup honey or maple syrup</li>
            <li>1/2 teaspoon vanilla extract</li>
            <li>salt, to taste</li>
        </ul>
    </ul>

    <h3><strong>Directions</strong></h3>
    Continue to step 6 if not making homemade granola

    <ol>
        <li>Preheat oven to 350F and line a large baking sheet with parchment or wax paper.</li>
        <li>In a medium bowl, combine the oats, nuts, cinnamon, and salt.</li>
        <li>In a separate bowl, mix the honey or maple syrup, melted coconut oil, vanilla. Then, pour into the bowl with the oats and mix well.</li>
        <li>Spread the oats mixture evenly over the prepared baking sheet.</li>
        <li>Bake for 20-25 minutes, or until golden brown. Let cool completely before proceeding.</li>
        <li>While the granola is cooling, prepare your fruit. If using raw fruit, you may want to slice it to more bitesized pieces. If you are cooking your fruit, bring a little bit of water to a boil over medium high heat and place your fruit inside the pot. Cook until the fruit softens conssiderable and a thick syrup begins to form. Set aside.</li>
        <li>Get a sizaeble, airtight container, and begin layering your granola, fruit and yogurt. The more layers you make, the more of each you will get in each bite!</li>
        <li>Store in a cold place until ready to eat. Enjoy!</li>
    </ol>
</div>
</div>





<%- include('partials/footer') %>
